.cart {
  margin-top: 100px;
}
.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 14px);
}
.cart-items-item {
  margin: 10px 0;
  color: black;
}
.cart-items-item img {
  width: max(10vw, 50px);
}
.cart-items-title p {
  cursor: pointer;
}
.cart-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  gap: max(12vw, 20px);
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
}
.cart-total hr {
  margin: 10px 0;
}
.cart-total button {
  padding: 10px 20px;
  background-color: tomato;
  width: max(30vw, 100px);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.cart-promocode {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-promocode-input {
  display: flex;
}
.cart-promocode-input input {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 5px;
}
.cart-promocode-input button {
  width: max(10vw, 100px);
  padding: 5px 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
}
@media (max-width: 768px) {
  .cart-bottom {
    flex-direction: column;
    gap: 20px;
  }
}
