.login-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: grid;
}
.login-popup-container {
  place-self: center;
  width: max(23vw, 300px);
  color: #808080;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-popup-title img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-popup-inputs input {
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
}
.login-popup-inputs button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  cursor: pointer;
}
.login-popup-condition {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.login-popup p span {
  color: tomato;
  text-decoration: none;
  cursor: pointer;
}
